<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_definition.name %>
</p>

<p>
  <b>Definition:</b>
  <%= @task_definition.definition %>
</p>

<p>
  <b>Depends on task definition:</b>
  <%= @task_definition.depends_on_task_definition %>
</p>


<%= link_to 'Edit', edit_task_definition_path(@task_definition) %> |
<%= link_to 'Back', task_definitions_path %>
