%html
  %head
    %title Open-Org.Org
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 

  %body
    .header
      - if current_user
        %span.links
          = link_to("Home", dashboard_user_path(current_user))
          |
          = link_to("My Tasks", tasks_path)
          |
          = link_to("My Organizations", organizations_path)
        %span.user-status
          = link_to 'Sign Out', user_session_path(current_user), :method => :delete
      - else
        %span.title Welcome To Open Org
        %span.user-status
          %a#signin{:href=>"#"}= "Sign In"
    = yield

:javascript
  current_user_id = "#{current_user ? current_user.id : ''}"
